vim/.VimballRecord
vim/.netrwhist
bin/bin
oh-my-zsh/oh-my-zsh
tmux/tmux
vim/bundle/YCM-Generator/fake-toolchain/Unix/ar
vim/bundle/YCM-Generator/fake-toolchain/Unix/as
vim/bundle/YCM-Generator/fake-toolchain/Unix/clang
vim/bundle/YCM-Generator/fake-toolchain/Unix/gcc
vim/bundle/YCM-Generator/fake-toolchain/Unix/ld
vim/bundle/YCM-Generator/fake-toolchain/Unix/nm
vim/vim
